:root {
    --consonant: 100px;
    --kern: 0;
    --bg: white;
    --color: black;
    --color-h: 0deg;
    --color-s: 0%;
    --color-v: 0%;
}

body {
    background-color: var(--bg);
    color: var(--color);
    margin: 0;
    padding: 32px;
}

img {
    height: var(--consonant);
    margin: 0 var(--kern);
    filter: sepia(100%) saturate(calc(30 * var(--color-s))) brightness(var(--color-v)) hue-rotate(var(--color-h));
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

div {
    margin-bottom: 16px
}

#mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    padding: 0;
    border: 0px transparent;
    margin: 0;
    z-index: 0;
}

#fg {
    position: relative;
    z-index: 9999;
}